<li [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts > 0,
'list-group-item-danger': loveIts < 0}">

  <div class="row">
    <div class="col-md-6">
      <h4 style="text-align: left">{{postTitle}}</h4>
    </div>
    <div class="col-md-6">
      <h5 style="text-align: right">{{postDate | date:'short'}}</h5>
    </div>
  </div>

  <p>{{postContent}}</p>
  <div class="row">
    <div class="col-md-6 ">
      <button class="btn btn-success" (click)="onAddLoveIts()">Love it!</button>
      <button class="btn btn-danger" (click)="onDeleteLoveIts()">Don't love it</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-warning" (click)="onDeletePost()">Delete Post</button>
    </div>
  </div>
</li>