a {
    color: #fff;
}

.active { 
    background-color: #f58803;
    padding: 0px;
}

.title {
    color: white;
    font-size: 2em;
    font-weight: 800;
    padding: 0;
}
 nav {
    margin-bottom: 5px;
    padding: 5px;
 }

 .credits {
     color: rgb(0, 115, 255)
 }
